<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>JavaScript</title>
		</head>
	<body>

		<h1>Propriedades de Strings e Metodos</h1>
		
		<img src="img/js.jpg" alt="JavaScript" >

	</body>
</html>