<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Strings</h2>

<h1 id="demo"></h1>
<img src="img/str.jpg" alt="">
<script>
var x = "Thiago monteiro vidal e alyne pinho alves";  
document.getElementById("demo").innerHTML = x;
</script>

</body>
</html>