<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Propriedades de uma string</h2>

<h2>o length é uma propriedade que retonar o numero de caracteres escrito dentro de uma string:</h2>
<br>
<h2 id="demo"></h2>
<br>
<h2 id="demo2"></h2>
<img src="img/str2.jpg" alt="">
<script>
var txt = "Thiago monteiro vidal e alyne pinho alves";
var sln = txt.length;
document.getElementById("demo2").innerHTML = sln;
document.getElementById("demo").innerHTML = txt;
</script>

</body>
</html>